<div class="container-fluid anchor" id="text-box">
<div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4"><%= image_tag("moi.png") %></div>
            <div class="col-lg-4 col-md-4 col-xs-4"><div class=intro column><h2>Les Annes Passent Rien Ne Change</h2></div></div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class=skills column>      
                <ul id="skill-list">
                    <li>Typing</li>
                    <li>Typing the right things</li>
                    <li>Typing additional things</li>
                </ul>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="main-text">
                        <h3>More about me</h3>
Intelligentsia lumbersexual Thundercats actually vegan. Street art twee cornhole flannel, pug salvia kogi brunch Truffaut four dollar toast leggings hoodie ethical. Pickled paleo Pinterest, Neutra Blue Bottle locavore squid cold-pressed. Tilde tote bag Portland quinoa sriracha cornhole. Flannel Truffaut authentic blog. Brooklyn narwhal asymmetrical mumblecore polaroid, twee beard hella gastropub Echo Park normcore Intelligentsia banh mi freegan. Flannel pug normcore, viral cold-pressed freegan church-key actually seitan +1 four dollar toast you probably haven't heard of them health goth Marfa Kickstarter.
<br><br>
VHS pour-over Echo Park messenger bag mixtape Etsy. Normcore vinyl locavore selvage sustainable High Life YOLO distillery, retro pop-up. Banh mi sartorial brunch, whatever Blue Bottle lumbersexual flannel mixtape raw denim. Farm-to-table quinoa Truffaut, cold-pressed deep v artisan kitsch occupy mumblecore migas Tumblr cronut. Hashtag meditation keffiyeh, pickled Neutra tofu iPhone chambray biodiesel before they sold out cardigan listicle Intelligentsia lo-fi. Before they sold out blog meh cliche +1 paleo, small batch meggings B
            </div>
        </div>
    </div>
</div>
