<div class="container fluid anchor" id="text-box">
 <h1>Contact me</h1>
   <p>You probably haven't heard of them YOLO tousled fanny pack. Narwhal jean shorts single-origin coffee artisan kale chips Pitchfork sriracha, health goth beard gluten-free dreamcatcher McSweeney's Neutra bitters 8-bit. 3 wolf moon four dollar toast polaroid, Austin craft beer meggings Vice brunch Kickstarter Williamsburg shabby chic direct trade. Twee Portland umami master cleanse McSweeney's.</p>

   <%= render 'contactform' %>

</div>
