// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background-image: image-url('whtnght.jpeg');
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
-webkit-background-size: cover;
-mod-background-size: cover;
-o-background-size: cover;
background-color: cadetblue;
background-size: cover;
color: white;
font-size: 1em;
}

a {
   color: white;
}

td {
   font-size: .75em;
   font-family: sans-serif;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #262C53;
 }

input, textarea {
   color: black;
}

footer {
   background-color: rgba(71,53,36,0.75);
   text-align: center;
}

#text-box {
    width: 80%;
    background-color: rgba(107,94,43,0.5); 
    margin: 50px auto;
    height: 100%;
    padding: 20px;
}

.anchor {
   padding-top: 50px;
}

.thanks_box {
   display: block;
   padding-top: 20em;
   padding-left: 40em;
   text-align: center;
   float: right;
}