// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background-image: image-url('whtnght.jpeg');
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
-webkit-background-size: cover;
-mod-background-size: cover;
-o-background-size: cover;
background-color: cadetblue;
background-size: cover;
color: white;
font-size: 1em;
}

a {
   color: white;
}

td {
   font-size: .75em;
   font-family: sans-serif;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #473524;
 }