// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background-image: image-url('whtnght.jpeg');
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
-webkit-background-size: cover;
-mod-background-size: cover;
-o-background-size: cover;
background-color: cadetblue;
background-size: cover;
color: white;
}

#txtbx {
    width: 80%;
    background-color: rgba(107,94,43,0.5); 
    margin: 50px auto;
    height: 40em;
    padding: 20px;
}

a {
   color: white;
}