<%= link_to product do %>
<div class="col"> 
      <div class="inner_content clearfix">
         <%= image_tag(product.image_url, class: "img-thumbnail") %>
            <div class="price">
            <div class="cart-left">
            <h1><%= product.name %></h1>
            </div>
               <blockquote>$<%= product.price %></blockquote>
               <div class="clear"></div>
           </div>				
      </div>
</div>
<% end %>