<% if notice %>
   <p id="alert" class="alert alert-success"><%= notice %></p>
<% end %>

<%= render @products %>

<footer class="footer navbar-fixed-bottom">
         <%  if signed_in? && current_user.admin? %>
   <%= link_to 'New Product', new_product_path %>
         <% end %>
</footer>
